<!-- <div *ngFor="let pokemon of pokemons">
    <img [src]="pokemon.imageURL" alt="{{pokemon.name}}">
    <h3>{{pokemon.name}}</h3>
    <p>Type: {{pokemon.type}}</p>
  </div> -->
  <router-outlet></router-outlet>
  <div class="flex-list">
    @for(pokemon of pokemons; track pokemon.id){
      <div class="pokemon-card">
        <a class="link" routerLink="/pokemon/{{pokemon.no}}">
          <img [src]="pokemon.imageURL" alt="{{pokemon.name}}">
          <h3>{{pokemon.name}}</h3>
          <p>Type: {{pokemon.type1}}</p>
          @if(pokemon.type2 !== ""){
            <p>Type: {{pokemon.type2}}</p>
    
          }
        </a>
  
      </div>
    }
  </div>
