<!-- <div *ngFor="let pokemon of pokemons">
    <img [src]="pokemon.imageURL" alt="{{pokemon.name}}">
    <h3>{{pokemon.name}}</h3>
    <p>Type: {{pokemon.type}}</p>
  </div> -->
  <div class="flex-list">
    @for(pokemon of pokemons; track pokemon.id){
      <div>
        @if(pokemonImages[pokemon.name]){
          <app-pokemon-card [pokemon]="pokemon" [image]="pokemonImages[pokemon.name]"></app-pokemon-card>
        }
        @else{
          <app-pokemon-card [pokemon]="pokemon" [image]="'../../../assets/132.png'"></app-pokemon-card>
        }
      </div>
    }
  </div>
