@use '../../../variables';

.flex-list{
    display: flex;
    // grid-template-columns: repeat(6, 1fr); 
    // grid-column-gap: 3%;
    // grid-row-gap: 3rem; 
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    padding: 0 4%;
    list-style: none;

    @media screen and (max-width: variables.$breakpoint-monitor) {
    padding: 0 3%;

    }   

    @media screen and (max-width: variables.$breakpoint-tablet) {
    }

    @media screen and (max-width: variables.$breakpoint-phone) {
        padding: 0;
    }
}

.pokemon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }

.list-fix{
  min-height: 100%;
}

.card-fix{
    width: 15%;
    margin-bottom: 2rem;
}

.list-card{
  width: 23rem;
  height: 15rem;
  margin: 1rem;

  @media screen and (max-width: variables.$breakpoint-tablet) {
    width: 15rem;
    font-size: 1.4rem;
    margin: 1rem 0.5rem;
  }
  @media screen and (max-width: variables.$breakpoint-phone) {
    width: 12rem;
    margin: 1rem 0;
  }
}

.pagination {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .pagination button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: variables.$secondary-color;
    background-color: variables.$tertiary-color;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    @media screen and (max-width: variables.$breakpoint-tablet) {
      height: 30rem;
      width: 70%;

  }
  }
  
  .pagination button:hover:not([disabled]) {
    background-color: #0063cc;
    transform: scale(1.2);
  }
  
  .pagination button:disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
  }
  
  .pagination button span {
    display: inline-block;
    margin: 0 0.5rem;
  }

  .pagination.left  {
    margin-left: 3rem;
    button::before{
      margin-right: 0.5rem;
    }
    @media screen and (max-width: variables.$breakpoint-phone) {
      margin-left: 0;

    }
  }
  
  .pagination.right {
    margin-right: 3rem;
    button::after{
      margin-left: 0.5rem;

    }
    @media screen and (max-width: variables.$breakpoint-phone) {
      margin-right: 0;

    }
  }

  .full-height{
    height: 100%;
  }

  span{
    display: flex;
    margin: 1rem 0 2rem 0;
  }