@use '../../../variables' as responsive;

.team{
    display: flex;
    // grid-template-columns: repeat(6, 1fr); 
    // grid-column-gap: 3%;
    // grid-row-gap: 3rem; 
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    padding: 0 4%;
    list-style: none;
    height: 100%;

    @media screen and (max-width: responsive.$breakpoint-monitor) {
        padding: 0 3%;
    }   

    @media screen and (max-width: responsive.$breakpoint-tablet) {
    }

    @media screen and (max-width: responsive.$breakpoint-phone) {
        padding: 0;
    }
}

.card-fix{
    width: 23rem;
    height: 15rem;
    margin: 1rem;
  
    @media screen and (max-width: responsive.$breakpoint-tablet) {
      width: 15rem;
      font-size: 1.4rem;
      margin: 1rem 0.5rem;
    }
    @media screen and (max-width: responsive.$breakpoint-phone) {
      width: 12rem;
      margin: 1rem 0;
    }
}

.align-self-center{
    margin-top: 0.5rem;
    align-self: center;
}

.full-height{
    height: 100%;
}