$breakpoint1: 1000px;
$breakpoint2: 450px;

@media (max-width: $breakpoint1) {
    .team{
        grid-template-columns: repeat(4, 1fr); 
        grid-row-gap: 2rem; 
    }
}

@media (max-width: $breakpoint2) {
    .team{
        grid-template-columns: repeat(2, 1fr); 
        grid-row-gap: 1rem; 
    }
}

.team{
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-column-gap: 3%;
    grid-row-gap: 3rem; 
    padding: 0 5%;
    height: 100%;
}

.card-fix{
    height: 10rem;
    // margin-bottom: 0.5rem;
}