<div class="full-height">
  <div class="center logo-div">
    <a href="https://pokeknow-rncp.vercel.app/pokemon-list">
      <img src="../../../assets/PokeKnow.png" alt="PokeKnow Logo">
    </a>
  </div>
  <router-outlet></router-outlet>
  <nav class="router-link">
    <div>
      <a class="link router-text" routerLink="/pokemon-list">Pokémon List</a>
    </div>
      @if(!!isLoggedIn()){
        <div>
          <a class="link router-text" routerLink="/user-team">User Team</a>
        </div>
        <div>
          <a class="link router-text" routerLink="/profile">Profile</a>
        </div>
      }
      @else{
        <div>
          <a class="link router-text" routerLink="/signup">Sign Up</a>
        </div>
        <div>
          <a class="link router-text" routerLink="/login">Login</a>
        </div>
      }
    </nav>
  
</div>
