<!-- @if(errors[0]){
    <p class="error"> {{errors[0]}}</p>
}
<div class="full-height form-div">
    <form class="form" (submit)="onSignup()">
        <input type="text" [(ngModel)]="username" name="username" placeholder="Username" required />
        <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required />
        <button class="button" type="submit">Sign Up</button>
    </form>
</div> -->

<section class="full-height form-div" aria-labelledby="signup-header">
  <h2 id="signup-header">Sign Up</h2>
  @if(errorsShown.length !==0) {
    @for(error of errorsShown; track error){
        <p class="error" role="alert">Error: {{error}}</p>
    }
    
  }
  <form class="form" (submit)="onSignup()" aria-describedby="signup-instructions">
    <p id="signup-instructions" class="visually-hidden">All fields are required.</p>
    <label for="username" class="visually-hidden">Username</label>
    <input 
      type="text" 
      id="username" 
      [(ngModel)]="username" 
      name="username" 
      placeholder="Username" 
      required 
      aria-required="true">
    <label for="password" class="visually-hidden">Password</label>
    <input 
      type="password" 
      id="password" 
      [(ngModel)]="password" 
      name="password" 
      placeholder="Password" 
      required 
      aria-required="true">
    <button class="button" type="submit">Sign Up</button>
  </form>
</section>
