$primary-color: #36393e;
$secondary-color: white;
$tertiary-color: #3b4cca;
$background-color: #424549;
$dark-background-color: #1e2124;
$shadow-color: #747474;



$breakpoint-monitor: 1280px;
$breakpoint-tablet: 770px;
$breakpoint-phone: 480px;